<footer class="navbar-fixed-bottom center">
Copyright © 2017 <a href="/" class="retirar-undeline">Valadoc Brasil</a> | Este site é mantido pela <a href="https://www.elementary-br.org" class="retirar-undeline">comunidade brasileira do elementary OS</a> | licença <a href="https://github.com/valadoc-br/valadoc-br.github.io/blob/master/LICENSE" target="_blank" class="retirar-undeline">GPL3</a> |
<a href="https://github.com/valadoc-br/valadoc-br.github.io/issues" target="_blank" class="retirar-undeline">Reportar Bug <i class="fa fa-bug"></i></a>
    <br><span style="margin-top: -10;"></a>
