body {
    background-color: #1651b8;
    color: #fff;
}

h1 {
    font-size: 48px;
    font-family: "Raleway";
    font-weight: 100;
    margin-bottom: 16px;
    margin-top: 10px;
}

h4 {
    font-family: "Open Sans",Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
    margin-top: 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

footer {
    background-color: #fafafa;
    color: #666;
    padding: 16px;
    margin-top: 5%;
}

.center {
    text-align: center;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    border-color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.4);
    transition: all 100ms ease-in;
    margin: 10px;
}

.button:hover {
    background-color: #FFFFFF;  
    color: #333;
    text-decoration: none;
}

.elementary-br {
    text-decoration: none;
    color: #FFFFFF;
}

.elementary-br:hover {
    text-decoration:none;
    color: #ffe11f;
}

.retirar-undeline:hover {
    text-decoration: none;
}

#margin-top-row {
    margin-top: 10%;
}

#linha-branca {
    width: 50%;
    color: #fff;
}
